.cancel-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 28px;
  height: 28px;

  background-color: #fee2e2;
  color: var(--danger-color);
  border: none;
  border-radius: 50%;

  cursor: pointer;
  transition: var(--transition-fast);
}

.cancel-button:hover {
  background-color: var(--danger-color);
  color: white;
}